[2022-04-06 14:27] dashorst commented on #695
- I've cloned out the repository (topicusonderwijs/pgbouncer-ps-patch) and the pgbouncer repository next to one another.
- I've checked out the pgbouncer_1_14_0 tag in the pgbouncer repository.
- I've run the `install-pgbouncer-ps-patch.sh` script with parameter `../pgbouncer`

I then created a branch in our pgbouncer repository: pgbouncer-ps-patch and pushed the patch.

The results can be seen he

[2022-04-11 10:51] wasiualhasib opened #705 "Cannot do SCRAM authentication with pgpool, does pgbouncer support SCRAM with pgpool?"
I am trying to do SCRAM authentication with pgpool it said "SASL authentication failed" error like below image.
I am trying to authenticate pgbouncer to pgool to postgresql but pgbouncer to pgpool authentication using SCRAM auth. not working showing below error. Can anyone explain why this is happening?
Need expert opinion.

![image](https://user-images.githubusercontent.com/48445960/162722728-d6a

[2022-04-11 13:57] petere commented on #705
Start by checking the logs of the various components involved.

If you have questions about pgbouncer, show the logs and the configuration.

[2022-04-11 21:22] wasiualhasib commented on #705
Necessary configuration done. But only issue is that plain text is working well as show below.

![image](https://user-images.githubusercontent.com/48445960/162832846-3a5e2f30-8db8-48ef-9e48-1fcb5e57ed11.png)

But encrypted pgpool pool_pass not working.

At below screen check   pgpool password at pgpool and encrypetd password at postgresql pg_shadow.

![image](https://user-images.githubusercontent.

[2022-04-12 07:48] petere commented on #705
This is still not enough information. Please show the entire configuration of all components involved. Or reduce the number of components involved.

Perhaps you think that pgbouncer supports encrypted passwords in the same manner as pgpool. It does not. Maybe that's the problem.

[2022-04-14 23:51] Justin-Kwan commented on #484
@eulerto @petere Here is a PR to fix this issue: https://github.com/pgbouncer/pgbouncer/pull/706

[2022-04-19 09:12] blueyed commented on #347
Is this supposed to be set to 0 then?
(Assuming / understanding it so that using the default of 15s means that it can take 15s to get a "server conn crashed?" error on successive retries)

[2022-04-20 10:29] plmayekar commented on #642
@petere  I have also faced the same issue where I am able to see relations with 5432 port but not with pbbouncer port 6543 .  Could you please update on this .
` PostgreSQL 10.19 (Ubuntu 10.19-0ubuntu0.18.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit`
`pgbouncer version 1.7.2`

[2022-04-24 18:56] dko-slapdash opened #708 "Feature request: support auth_host (coupled to auth_user/auth_query)"
When pgbouncer runs on the same host as postgres cluster, it would be very convenient if we didn't need to have auth_user's password in userlist.txt and instead would just use local authentication to send auth_query. Below is a config illustration of what I'm trying to achieve:

[code]

Since pgbouncer runs as user postgres, the same as the main postgres cluster's user, it can access pg_shadow wit

[2022-04-28 07:14] sohooo commented on #593
Would also be interested in this! :+1:

[2022-05-03 08:51] lotfyhussein opened #710 "Number of active clients is always increasing"
Hello,

we have PSQL server and a web application connecting to it usig Pgbouncer. we have only one database user and all clients are connecting to db using that user.

The problem is that a lot of clients are being active but there is no many server connections. i.e. cl_active as is always increasing and at some time it will hit our max_client_connection no matter what value we set it to.

![Scre

[2022-05-04 13:19] lotfyhussein commented on #710
Thanks for you comment.

We traced and resolved the error. So we are using gunicorn with uvicorn async workers and we were enabling persistent connection to db (CONN_MAX_AGE = None), hence persistent connections to Pgbouncer. So connection were opened by gunicorn but never reused again and remain open forever.

to solve this we set CONN_MAX_AGE to 0 to force django to close the connection after it

[2022-05-04 13:19] #710 closed

[2022-05-06 08:17] nareshkbohra commented on #440
Same here. Generally this issue comes when services are under heavy load and hence reproducing is not always possible.

[2022-05-06 09:21] Arkasha18 opened #713 "TLS Connection from datastudio.google"
Someone please help me resolve the problem.
I use connection from datastudio.google to pgbouncer via TLS v1.3 or 1.2. use Trust ROOT certificate only. (without client cert authentication)
And have problem

2022-05-06 09:03:33.603 UTC [2214202] LOG stats: 0 xacts/s, 0 queries/s, in 0 B/s, out 0 B/s, xact 0 us, query 0 us, wait 0 us
2022-05-06 09:03:35.891 UTC [2214202] DEBUG C-0x5592b2562380: (nodb

[2022-05-06 12:53] ivzhenko opened #714 "Problem with 08P01: server conn crashed?"
When using PgBouncer, an error occurs periodically under load (example from a client application) - 08P01: server conn crashed?
General scheme: Client app (ORM) -> PgBouncer -> Postgresql (PgBouncer and Postgresql are on the same server)

### Versions
**App**
.Net ORM + Npgsql.EntityFrameworkCore.PostgreSQL/5.0.2

**PgBouncer**
1.16.0
libevent 2.0.21-stable
adns: libc-2.17
tls: OpenSSL 1.0.2k-fips

[2022-05-06 19:31] jcoleman opened #715 "Concurrent use of RESUME with PAUSE makes PAUSE hang permanently"
I've been improving our setup for using `PAUSE`/`RESUME` on transaction pooled databases to do hitless failovers and started digging into any possible concurrency concerns. To avoid causing issues with an operation like this it's important to be able to time out the `PAUSE` command and automatically `RESUME` if for some reason an unexpected long-running query occurs.

My first question was "which

[2022-05-11 07:56] tpo opened #716 "BREAKAGE: pgbouncer has changed the user under which it runs between 1.16.1 and 1.17.0 on Ubuntu/Debian"
[code]

[code]

Due to the change of user under which pgbouncer runs (before: user `pgbouncer`, new: user `postgres`), an upgrade from 1.16.1 to 1.17.0 will break systems.

Workaround:

[code]

[2022-05-11 11:02] petere commented on #716
This is a packaging issue, so you will need to discuss it with the packager. It looks like you are using the PGDG Ubuntu packages, so pgsql-pkg-debian@lists.postgresql.org would be the place to contact.

[2022-05-11 13:47] tpo commented on #716
ack, thanks @petere

[2022-05-15 14:35] dvarrazzo opened #718 "SHOW HELP message not handled correctly by the libpq using the extended query protocol"
Hello,

it seems that the message returned by `SHOW HELP` works ok if the query is sent by PQexec, but not if the extended protocol is used.

Original investigation in https://github.com/psycopg/psycopg/issues/303

Relevant versions:
- pgbouncer: 1.17.0
- libpq: 14.2

Repro using psycopg2:
[code]

Repro using the libpq functions exposed by psycopg 3:
[code]

the output looks like:

[code]

Sniffin

[2022-05-23 09:38] manmanblue opened #720 "pooler error: invalid server parameter"
I'm using pgbouncer 1.15

sometimes an error occurs, my java app received "invalid server parameter" exception， and the pgbouncer server log "pooler error: invalid server parameter".

does it have anything with some timeout configs?

how to prevent this from happening again?

tks!

[2022-05-23 11:20] petere commented on #720
This happens if pgbouncer got an error from the server while trying to run `SET` commands at the beginning of a connection. You could check the logs of the server to find the full error.

[2022-05-26 06:39] chungonion opened #721 "Cannot get system entropy"
I also opened an issue on [Bitnami's pgbouncer](https://github.com/bitnami/bitnami-docker-pgbouncer/issues/35) repo, as I used their image for hosting pgbouncer on docker

May I know what exactly the root cause that could have trigger `Cannot get system entropy` error when user authentication is going to be take place? Are there additional settings to ensure pgbouncer to obtain entropy or simple b

[2022-05-26 12:45] petere commented on #721
It could be a number of things, depending on the underlying system and configuration. For example, maybe `/dev/urandom` isn't readable. It might be worth stracing the pgbouncer process to see the exact sequence of steps that precede this error.

[2022-05-26 17:19] chungonion commented on #721
Thanks @petere . You mentioned stracing the pgbouncer process, it will be great if you could further explain a bit on the method to trace the `pgbouncer` process... I tried to read the log but that is not so helpful. The `Cannot get system entropy` soon appeared after `login attempt:`, and I am clueless on what exactly triggered this error...

Once again thank you for the assistance!

[2022-05-27 08:42] petere commented on #721
When you start pgbouncer, instead of running

    pgbouncer options...

you run

    strace pgbouncer options...

and see what it prints out.

[2022-05-27 09:01] chungonion commented on #721
Sure I will have a look first, thank you!

[2022-05-29 19:28] chungonion commented on #721
Just would like to share my findings. I think the issue might have been caused by the CPU, 32 bit could not work properly (DS713+) but when I ditched to a newer 64 bit model (DS720+) it works! Thank you!

[2022-05-29 19:28] #721 closed

[2022-05-31 19:24] petere commented on #721
32-bitness by itself wouldn't explain this, but well, if it works for you ...

[2022-06-06 11:20] HalacliSeda opened #723 "pgBouncer segfaults when an incorrect db name is passed"
Hi,
I am using pgBouncer 1.17.0
pgBouncer service gives an error when mistyped database name.
An example:
 psql -h 127.0.0.1 -p 5432 -U postgres -d postgress
Password for user postgres:
psql: error: connection to server at "127.0.0.1", port 5432 failed: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

Journal

[2022-06-09 15:24] taybin commented on #314
@ndavidson-bigpay I'm seeing this as well.

[2022-06-10 17:51] cabecada opened #724 "pgbouncer cannot connect to server"
We have this strange behaviour where we see immediate rejection from pgbouncer when we connect as below, but on restart it works just fine. this happened on a couple of servers, so does not seem to be a config issue, since a reboot just "fixes" the problem.

pgbouncer.ini

[code]

**the warning in the logs (FATAL database does not exist) coincides with the "START" of the psql errors and continue u

[2022-06-10 17:52] cabecada commented on #724
let me know if we need to collect more information. but this has happened on more than one servers (and multiple times in the past ) so maybe something is off here.

[2022-06-10 18:22] cabecada commented on #724
we got a confirmed reproduction of this setup

[code]

[2022-06-16 06:51] nicolasjulian commented on #723
Hello,
We also got this error, in our prod also got the same behavior when using **pgBouncer 1.17.0**
[code]

pgbouncer.log
[code]

dmesg.log
[code]

Is this a bug version 1.17.0 ? or a kind of misconfiguration?

[2022-06-17 05:50] Arkasha18 commented on #713
=)

[2022-06-19 17:33] mbsabath commented on #723
seems like this may be a bug introduced here: https://github.com/pgbouncer/pgbouncer/pull/687

[2022-06-22 06:52] Justin-Kwan opened #728 "Tests fail when using BoringSSL"
**Description**

- Tests under `hba_test.sh` such as `client-ssl-connect` and `client-ssl-disable` fail when PgBouncer is configured to use `boringssl-fips` instead of `openssl`
- These tests all pass when using `openssl` instead

**Environment**

- Debian 9.3 (Stretch)
- Postgres 9.6
- BoringSSL (https://boringssl.googlesource.com/boringssl/+/refs/tags/fips-20210429)

`wget https://commondatastor

[2022-06-22 21:19] horriblyUnpythonic opened #729 "ulimit is no longer observed"
Sometime between 1.12.0 and 1.17.0 (probably 1.13.0) the file `pgbouncer.service` was included, which is preferred over the previous file (`/etc/init.d/pgbouncer`). With this inclusion the `NOFILES` entry shown by `prlimit` for the pgbouncer process is set to 1024/4096 instead of what we had/have set in `/etc/default/pgbouncer`.
Is there a new place that defaults should go?
Changing `LimitNOFILES=

[2022-06-23 09:50] blueyed commented on #347
Is pgbouncer capable of handling a crashed server connection in this case, without causing an exception with the app itself?

I am seeing this sporadically on GCP, using a simple config like this:
[code]

It looks like "server conn crashed" usually would happen when reading fails: https://github.com/pgbouncer/pgbouncer/blob/9a346b0e451d842d7202abc3eccf0ff5a66b2dd6/src/server.c#L534-L536 - so it is

[2022-06-23 09:55] blueyed commented on #714
Just for reference: https://github.com/pgbouncer/pgbouncer/issues/347 (and my comment there: https://github.com/pgbouncer/pgbouncer/issues/347#issuecomment-1164196085).

[2022-06-23 10:02] #724 closed

[2022-06-23 10:05] cabecada commented on #724
[code]

earlier it used to respect query_wait_timeout and disconnected just fine for haproxy to fail the health check, now it does not. so will alter the check to use check_
port 5432

[2022-06-24 12:00] petere commented on #729
This is a packaging issue. PgBouncer only provides a sample `pgbouncer.service` file but does not install it. You should check with the packager of whatever you are using about how to set this up or whether any changes were adequately documented.

[2022-06-26 12:26] mbsabath commented on #723
I've been digging in to this a bit more. Looks like the mock authentication when a DB doesn't exist works fine when authentication method is set to trust, but segfaults with a non existent DB when the authentication method is set to `md5`. I'm working on a PR to see if I can track down exactly where the segfault is coming from

[2022-06-26 14:00] mbsabath commented on #723
I think I have it resolved here: https://github.com/pgbouncer/pgbouncer/pull/730

[2022-07-02 01:19] cobolbaby commented on #695
Is there any progress on this request?

[2022-07-04 04:05] daBee opened #735 "pgbouncer Not Respecting host Directive"
I have a db server and my workstation.  `pgbouncer` is installed on my workstation already for domestic db management, and I wanted to use the same instance to reach into the db server as well.  I've used the following in the conf for `databases`:
[code]
I try entering using `psql`:
[code]
Upon looking at the available viewable databases and tables, it seems I'm looking at my local databases/table

[2022-07-04 04:20] daBee commented on #735
Never mind.  Functioning properly.  Client bug.

[2022-07-04 04:30] daBee commented on #735
It's happening in `psql` as well as another client.  So it is changing to localhost when I use `\c dbname2`.  When I use that statement, I want to change to a database on the remote server, not jump to `localhost`.  In fact that's a security issue.

[2022-07-04 14:09] petere commented on #735
Please provide a reproducible test case with full configuration, version numbers, exact sequence of commands, and all outputs.

[2022-07-04 18:39] daBee commented on #735
Let me know if this is sufficient.

**pgbouncer.ini**
[code]

**userlist.txt**
[code]

[code]
`Mac OS Monterey 12.4`

**commands and outputs**
[code]

[2022-07-05 16:31] DanielLund opened #737 "Handle URL encoded password's and db names in connection string"
Currently trying to connect to pgbouncer via prisma. Currently the db password is URL encoded, for the db connection string to work. However putting this in the userlist.txt won't work as it will try to use the url encoded password to connect to the actual db which results in an auth error.

Just wondering how to handle this or to raise it as a potential future enhancement

[2022-07-05 20:21] daBee commented on #735
Upon further testing, I have found the following:

- Comments interrupt and/or confuse the parsing of `userlist.txt` `user`/`password` combinations.
- The order of duplicate users is important, the system taking the last entry as the single password for that duplicate user. (i.e. fred / billabong and fred / waterfall are listed for different passwords on different postgres servers).  I moved the p

[2022-07-06 09:31] bleleve opened #738 "PgBouncer: cannot connect to server"
Hi all,

Which image of the operator are you using? v1.7.0
Where do you run it - cloud or metal? Kubernetes or OpenShift? Scaleway Kapsule
Are you running Postgres Operator in production? Yes
Type of issue? pooler error

We have just migrated our new infrastructure into production, which is based on the operator Zalando. We have no worries about our test environment which is equivalent from a stac

[2022-07-06 09:34] bleleve commented on #738
My connection pooler mode is "session"

[2022-07-06 11:12] petere commented on #737
What is prisma, and why is it forcing you to use URL-encoded passwords?

[2022-07-06 11:22] petere commented on #735
There is no such thing as one user having multiple passwords. So whatever it is you are trying to set up, this isn't the way to do it.

[2022-07-06 11:27] petere commented on #737
Presumably, prisma would connect to pgbouncer, so you can continue to use whatever connection string format you are using. The configuration inside pgbouncer is how that connection then goes on to the real PostgreSQL server, which is separate and doesn't (necessarily) use the same password.

[2022-07-06 11:41] DanielLund commented on #737
Yeah but I feel that's where the problem lies as in userlist.txt we have "postgres" "url encoded pw" for it to verify the prisma db connection string which also has url encoded pw `postgresql://postgres:urlencodedpw@host:6432/pgbouncerdb`

However when pgbouncer uses that password we get auth error as i assume it is using that url encoded pw

[2022-07-06 11:52] petere commented on #737
Yes, then you need to not-url-encode that password when you put it into userlist.txt.

[2022-07-06 11:53] DanielLund commented on #737
Okay, well I look stupid now hahaha. So that will be still match even if the one in the db url is url encoded?

[2022-07-06 12:23] DanielLund commented on #737
Yeah I certainly do look stupid, I guess I was confused with how the userlist works and also assumed wrong about when prisma decodes the url, thanks so much for your help as it is now working @petere

[2022-07-06 12:23] #737 closed

[2022-07-06 15:58] daBee commented on #735
A single user on a LAN would supposedly be using their username on multiple databases using perhaps a single `pgbouncer`, which could reach into any db server.

-h alpha.local -U user1 dbname1
-h localhost -U user1 dbname1

`psql -h localhost -p 6432 -U user1 server_nr	# pgbouncer pointing to remote db server`

Sorry, that comment is wrong.  I'm just trying to demonstrate I have different password

[2022-07-13 01:49] minh-nguyen-carsales commented on #714
For anyone running in to the same issue with `Npgsql`, we fixed it by turning off the pooling options that enables by default by Npgsql, also suggested in heir [documentation](https://www.npgsql.org/doc/compatibility.html#pgbouncer). My guess is that Npgsql keeps some connections that was already closed by pgbouncer.

[2022-07-15 12:26] chefun opened #739 "Accessing admin console with cert authentification"
Not sure, if it's an issue or configuration problem.
We are running a PGbouncer in a containerized enviroment, in front of a Patroni-Cluster.
The PGBouncer-Container listening on port 6433 and is initialized with
[code]
User xv12345 can successfully connect via PGBouncer
[code]

Changing to internal pgbouncer database fails
[code]
How can we access the admin console on this cluster?
Thanks in adva

[2022-07-15 12:52] chefun commented on #739
I forgot to mention, that xv12345 is also a member of group `admin_users = postgres,xyz_clouddb,xv12345`

[2022-07-15 18:35] petere commented on #739
Does it work differently if psql connects to the pgbouncer database to begin with, rather than using `\c` from within psql?

[2022-07-18 06:00] chefun commented on #739
No, the same error occurs:
[code]
User xv12345 exists on the database with
[code]

[2022-07-19 00:57] scorpevans opened #740 "peer-authentication warning due to forced admin user"
It seems that when Peer authentication is made with an admin user, other than `pgbouncer`, a warning is emitted to pgbouncer log as follows:
[code]

The reason, it seems, is that the client user is forced back to `pgbouncer` (for admin logins/pool) such that the peer authentication is broken; when the authentication is changed to Trust, the warning stops.

[code]

[2022-07-23 07:51] jdu opened #741 "User Password Mapping / Translation (Client Auth different from Backend Auth)"
I've been struggling for days trying to figure out if the following is possible or not, either in pgBouncer or in pgpool-II and was hoping I could get some clarity, it's hard to tell if the below is possible at all based on docs and other content that i've read through up to this point..

1. I have an RDS Aurora Serverless setup - All good
2. I want users to authenticate to PGBouncer via PAM (LDAP

[2022-07-28 18:34] scorpevans commented on #568
I'm currently using `auth_user=pgbouncer` without any issues.

Could the issue be with the `auth_query` returning empty rows?
The pgbouncer doc gives an auth_query which `RETURNS record` which crashes pgbouncer; using something to the effect of `RETURNS SETOF record` seems to solve this:

[code]

[2022-08-02 06:24] Yejing0609 opened #744 "many got package 'E' from server when not linked and state not match between pgbouncer/postgresql"
we have seen many errors in our standby database with ERROR/WARNING
[code]

sometimes has `pooler error: server conn crashed?`

we are using the transaction mode.

and sometimes we face the issue that in postgres server, the query has been in
'**idle**' state for a long time in `pg_stat_activity`
. but in pgbouncer, when using `show servers` and `show clients`, the state of it are both '**active**

[2022-08-02 06:40] Yejing0609 commented on #744
configuation are as below
[code]

[2022-08-02 11:22] smallhorsegg opened #745 "how to disable the log of DEBUG"
2022-08-02 10:55:22.830 7 DEBUG S-0x55e0e94785a0: postgres/@1S: param: is_superuser = off
2022-08-02 10:55:22.830 7 DEBUG S-0x55e0e94785a0: postgres/:80 S: param: session_authorization = xxxx

[2022-08-03 03:21] #745 closed

[2022-08-04 01:57] Avinodh opened #746 "Int16 overflow bug causes a host-list connection to get forwarded to UNIX socket"
The feature introduced in v-1.17 which enables pgbouncer to round-robin over a comma-separated host list has a bug, which results in connections to a client defined with a host list being re-routed to the UNIX socket path instead (`/tmp`). Details and repro below:

In the following block of [code](https://github.com/pgbouncer/pgbouncer/blob/275c7cca9209881aa9b045bf6ca908e76fdb359e/src/objects.c#L1

[2022-08-09 13:03] yinan8128 opened #748 "pgwatch2 using pgbouncer session mode problem"
Hello,

pgbouncer: 1.14.0
OS: CentOS Linux release 7.6.1810
postgresql: 11.11
pgwatch2 version: 1.9.0

As pgwatch2 go driver use "prepared statement" can not use pgbouncer transaction mode, so configured to use pgbouncer session mode, it works but sometime pgbouncer_pools_client_maxwait_seconds metric value is high even 120 sec
![image](https://user-images.githubusercontent.com/71433811/183652156-

[2022-08-09 21:27] skunkworker opened #749 "Add context to `pgbouncer cannot connect to server` error"
Is there a configuration option that allows for the hostname and or database name to be included in the `pgbouncer cannot connect to server` error message? I looked through the repository but did not see a location where that error is outputted.

[2022-08-10 06:20] chefun commented on #739
An external colleague found a solution:
PGBouncer expects an (dummy)entry for xv12345 in the auth_file.
After adding
`"xv12345" "IamNotEvenAProperMd5Password"` to auth_file
the user can connect connect to pgbouncer database.

[2022-08-10 06:20] #739 closed

[2022-08-10 08:46] zN3utr4l opened #750 "FATAL pidfile exists, another instance running?"
Docker Version: 4.11.1
PgBouncer Version: 1.17.0
DataBase: Timescale 2.7.2-pg14

This happens every time I turn on the pc and docker starts by itself at start up, while if I do docker run or docker-compose up ... never gives that error of FATAL `pidfile exists, another instance running?`.

Why this happens?

**Log File**
`2022-08-10 08:30:21.491 UTC [1] LOG kernel file descriptor limit: 1048576 (h

[2022-08-11 07:09] #699 closed

[2022-08-11 07:30] #746 closed

[2022-08-11 22:04] #167 closed

[2022-08-12 08:47] JelteF opened #752 "SSL disable tests seem to be flaky"
Examples:
1. https://cirrus-ci.com/task/5238938267811840
2. https://cirrus-ci.com/task/6635685439340544

[2022-08-12 08:53] JelteF commented on #695
@dashorst could you please create a pull request to this repo using the branch that you shared? That will allow me to create review comments on specific lines.

[2022-08-12 08:54] JelteF commented on #695
To be clear, this sounds like a great feature! But it will almost certainly need a few rounds of review and some testing on my part.

[2022-08-15 01:52] yinan8128 commented on #748
Hello,

Any update please? Thanks

[2022-08-15 09:08] solo-xwz opened #755 "cannot start pgbouncer and with no errors messages"
os:centos 7
install method:yum

I use : `pgbouncer -d /etc/pgbouncer/pgbouncer.ini` or `systemctl start pgbouncer` commands to start.
but when  use the `netstat -tulpn` command to check, i found port 6432 is not listening,
and no any error messages or error logs.

thanks for help

[2022-08-15 11:10] #647 closed

[2022-08-18 09:25] dashorst commented on #695
I redid the PR, you can find it [here](https://github.com/pgbouncer/pgbouncer/pull/757). I have no idea if it works or not.

[2022-08-20 14:10] petere commented on #755
Try starting without `-d` and read the log output when it starts.

[2022-08-21 01:49] solo-xwz commented on #755
thank you!got it.
it was permission issue with pgbouncer.log

[2022-08-22 00:13] keakaka opened #758 "pgbouncer stat log stuck in my server"
PgBouncer 1.16.1
libevent 2.1.8-stable
adns: c-ares 1.15.0
tls: OpenSSL 1.0.2h 3 May 2016
CentOS release 6.5 (Final)

stats_period = 1 in pgbouncer.conf,

2022-08-19 15:04:08.687 KST [1474] LOG stats: 239 xacts/s, 239 queries/s, in 197911 B/s, out 159240 B/s, xact 217 us, query 217 us, wait 0 us
2022-08-19 15:04:09.687 KST [1474] LOG stats: 17 xacts/s, 17 queries/s, in 8933 B/s, out 22549 B/s, xac

[2022-08-22 14:29] eulerto commented on #758
Are there any messages between 15:04:10 and 15:04:44? Did you check your OS log messages for IO issues? If you monitor this host, did you check OS metrics?

[2022-08-22 14:29] #755 closed

[2022-08-22 15:11] eulerto commented on #749
There is not. This message is new in 1.17 (commit ab7957160b2ec92a183f699e3112b2d0e10bfbbb). The new wording provides additional details about the failure. This error usually means that your restarted the Postgres server without saying it to PgBouncer (we normally use PAUSE) or that Postgres crashed (?). I don't have a strong opinion about adding credential information here. It might make sense to

[2022-08-22 16:28] eulerto commented on #750
There are 3 situations that this message happens:

* atol(pidgoeshere) failed;
* PgBouncer is already running (pid exists) and you are trying to start it;
* kill() returns EINVAL or EPERM.

Could you build your own version and use the following patch?

[code]

[2022-08-22 16:34] #729 closed

[2022-08-22 16:38] eulerto commented on #723
@HalacliSeda @nicolasjulian Could you confirm that it is the same issue you are observing? Could you share your setup? Are you using SCRAM authentication?

[2022-08-22 16:46] eulerto commented on #716
For the records, the discussion is at https://www.postgresql.org/message-id/YnzSJXNlv8mom5LO%40msg.df7cb.de

[2022-08-22 16:46] #716 closed

[2022-08-22 16:59] #720 closed

[2022-08-23 05:49] keakaka commented on #758
I checked the os metric of the log time zone that occurred today.

There is nothing special other than a temporary spike in cpu load.

It seems that the requests that were stopped because pgbouncer did not run for about 30 seconds increased for a moment as they were being processed.

2022-08-23 14:02:10.752 KST [10270] LOG stats: 27 xacts/s, 27 queries/s, in 11973 B/s, out 22070 B/s, xact 231 us,

[2022-08-23 08:48] yinan8128 commented on #748
Hello

maxwait
How long the first (oldest) client in the queue has waited, in seconds. If this starts increasing, then the current pool of servers does not handle requests quickly enough. The reason may be either an overloaded server or just too small of a pool_size setting.

It also happened in low highload replica node, any suggestion please? Thanks

[2022-08-24 16:46] miles2089 commented on #749
In our infrastructure we have multiple pgbouncer nodes connecting to multiple postgres databases we have scaled horizontally. We definitely some use cases where pgbouncers throws errors it can't connect to a postgres node but we aren't sure which node is having the problem. As well sometimes we also have the opposite issue where the a pgbouncer node in the pool is having an issue and the applicati

[2022-08-29 20:37] MaximBoguk opened #759 "Pgbouncer error with protocol level pipelining with transaction_pooling (race condition when dealing with Sync/Error/ReadyForQuery protocol messages)"
The following debug log shows the issue (from production system, client side - php:pdo)

2022-08-27 18:08:29.401 UTC [219403] NOISE S-0xaaaac44d4210: * release_server: new state=10

2022-08-27 18:08:29.401 UTC [219403] NOISE C-0xaaaac3d1e600: * read pkt='B' len=95                  -> message Bind command.
2022-08-27 18:08:29.401 UTC [219403] NOISE C-0xaaaac3d1e600: * read pkt='E' len=10

[2022-08-30 09:36] zN3utr4l commented on #750
I can't build the fork of the repository, I created it, I added the changes, but I can't make the command "make" https://github.com/zN3utr4l/pgbouncerTEST

[2022-08-30 09:37] zN3utr4l commented on #750
FROM alpine:3.13
ARG VERSION=1.17.0

# Inspiration from https://github.com/gmr/alpine-pgbouncer/blob/master/Dockerfile
# hadolint ignore=DL3003,DL3018
RUN \
    # security
    apk add -U --no-cache --upgrade busybox && \
    # Download
    apk add -U --no-cache autoconf autoconf-doc automake udns udns-dev curl gcc libc-dev libevent libevent-dev libtool make openssl-dev pkgconfig postgresql-client

[2022-08-31 06:26] zN3utr4l commented on #750
![image](https://user-images.githubusercontent.com/73225008/187608466-445e57b4-be3f-4975-a8ec-9c9022cfd7a6.png)

Found!
I built the version with the changes you sent me and the error it gives is this, but the postgres db is perfectly active, I can connect with pgAdmin.

[2022-08-31 07:03] zN3utr4l commented on #750
I tried looking for information and [this is](https://gist.github.com/hoasung01/48796642d7bf75da5bef) what comes closest to my problem.
To solve I changed the docker container so that at startup it executes a rm of the pid file as the first command and everything seems to work.

as written in the link quoted: _your computer didn't complete the shutdown process completely which means postgres (pgbo

[2022-09-01 17:53] Avinodh commented on #233
Any updates/traction on this?

[2022-09-19 08:20] npmichaly opened #760 "pgbouncer 1.17.0-10 - issue with auth_query: function not found"
Hi,
I am facing a strange issue with pgbouncer using the auth_query. Whenever the lookup function is called by the pgbouncer session, the function seems not to be accessible.

**Test case:**
Executing a psql login with application user _appuser_.
Credentials should checked by the auth_query using _postgres_ superuser on the target database.
pgbouncer and database are running on the same host:

[co

[2022-09-21 13:45] neteven-tld commented on #723
Hi, we can observe same behavior, when trying to connect with a user having SCRAM password on database which doesn't exist, on last 1.17.0 version.
[code]

[2022-09-21 13:48] ToMs77130 commented on #723
Hi, we can observe same behavior, when trying to connect with a user having SCRAM password on database which doesn't exist, on last 1.17.0 version.
[code]

[2022-09-22 14:44] eulerto commented on #723
@ToMs77130 Could you try building from the `master` branch and check if commit #730 solved this issue? Build and install instructions are [here](https://www.pgbouncer.org/install.html).

[2022-09-22 15:20] eulerto commented on #759
@MaximBoguk Could you provide a test case? It would be useful if you provide a minimal pgbouncer.ini and the exact PHP/PDO version you are using. What `pool_mode` are you using?

[2022-09-23 09:00] ToMs77130 commented on #723
@eulerto it's all good.

Before
[code]

With rebuild version
[code]

[2022-09-26 04:43] Bhautik0110 commented on #508
:roll_eyes: Repeat.

[2022-09-26 05:46] Bhautik0110 opened #761 "Unable to perform scram authentication"
I am using `bitnami/postgres` image for PostgreSQL hosting.

When I'm doing `scram-sha-256` authentication, I can't able to do authentication using psql client of other user. But when I am login using specified auth user it works.

Above mentioned issue not occurred using `md5` password encryption for auth_user.

[2022-09-26 14:13] eulerto commented on #723
@ToMs77130 Thanks for your feedback.

[2022-09-26 14:13] #723 closed

[2022-09-27 06:25] Bhautik0110 commented on #508
@petere My question is If I specified a password for the delegate user. and log in with another user. Does pgbouncer query the database server and verify credentials using delegated user for scram-sha-256 method?

[2022-09-27 21:44] petere commented on #508
It connects to the database server as the delegate user (`auth_user`), downloads the SCRAM secret stored in `pg_authid` for the real user, and then reconnects as the real user and supplies the downloaded SCRAM secret during the login process.

[2022-09-28 02:46] Bhautik0110 commented on #508
@petere Why I got the error `cannot do SCRAM authentication: password is SCRAM secret but client authentication did not provide SCRAM keys` for other than delegate user?

[2022-09-29 22:00] jtorral commented on #59
Ran into this issue today. The simple fix which took some trial and error may simply be an undocumented issue the what I encountered was that the username under the [users] section must be listed in the auth_file. Doing so, fixed the problem for me.

[2022-10-01 12:13] petere commented on #508
I don't know. You'd have to show us the complete setup of what you are doing. The error message is pretty explicit about what the prerequisites are.

[2022-10-03 05:48] srivathsanvlb opened #762 "Windows VM pgbouncer installation error : child killed unknown signal"
![Error Message](https://user-images.githubusercontent.com/35536827/193508962-3f0e200d-43aa-445c-aceb-dfec135f05fc.png)

Getting this error when installing pg bouncer after postgresql in an Windows based Azure VM.

Please let me know of suggestions, if any.

It is detecting the installed postgres and is populating the user name and db info. After password is entered and clicked next getting this e

[2022-10-03 12:39] Bhautik0110 commented on #508
Thanks for the reply @petere. Issue: https://github.com/pgbouncer/pgbouncer/issues/761

[2022-10-06 18:00] AlexBurkey opened #763 "PGBouncer doesn't handle SIGKILL signal"
I'm running pgbouncer as a separate service in k8s with auto-deployments. K8s sends a SIGKILL by default to terminate containers and then a SIGTERM.

PGBouncer apparently doesn't handle SIGKILL at all so the containers end up being killed. Ideally I could send a SIGINT to let the container shutdown gracefully but the signals sent aren't configurable. Ideally PGBouncer could handle a SIGKILL in a s

[2022-10-07 06:04] petere commented on #763
There must be some confusion here. It is not possible for a process to "handle" SIGKILL.

[2022-10-07 13:15] AlexBurkey commented on #763
oop I apologize. It's been a long on-call week and I got my signals mixed up. I'll close this issue

[2022-10-07 13:15] #763 closed

[2022-10-10 15:04] WRFitch commented on #749
I'm actually seeing this error message in 1.12, and I'd also really like to have the option to get more information on why the connection is failing.

[2022-10-14 12:42] landryb opened #765 "enabling syslog logging results in duplication of messages when journald is detected"
running 1.17.0 on debian via packages provided by the pgdg repository, from my understanding pgbouncer runs via systemd (and thus probably detects journald since https://github.com/libusual/libusual/commit/a43924826079520b88f19528661c81c9d8e3a669)

i've had `syslog = 1` + `syslog_facility = local0` in my config since forever, and i've been seeing duplicated messages in my logfile, probably since t

[2022-10-14 15:33] afopz opened #766 "Unable to connect to Aurora through pgBouncer due to Unknown CA."
Hi pgBouncer community,

I have a situation. We are migrating our postgres environment from onprem to AWS RDS Aurora. In order to complete this effort, we need to failover testing using pgBouncer.

* AWS Aurora is TLS encrypted
* pgBouncer is setup locally in our on-premises environment.
* Prod database xyz is on-premises.

I am setting up connection pooling i.e. for users to connect to Aurora thr

[2022-10-14 15:38] Ankh2295 opened #767 "Certificate based authentication issues in pgBouncer 1.17.0"
we are facing an issue with enabling cert based authentication between clients and pgbouncer 1.17.0. Pgbouncer 1.17.0 and postgresql 14 are on the same host in different containers. There is TLS enabled between client and pgbouncer. The issue is that we want client to connect to pgbouncer with client key and certificate, the certificate will have a Common Name (lets say "abc") which wont be same a

[2022-10-15 05:44] jasimul opened #768 "nodb/nouser warning message"
Pgbouncer log showing some unexpected warning message of previously configured database.

[code]
This postgres14poc  db i have configured earlier  and now its has different entry , not sure from where its coming.
Though pgbouncer admin console shows proper DB entry.

**Things i have tried :**
1. reload pgbouncer daemon
2. restart DB server

But still its coming
**pgbouncer details  :**
psql (12.12

[2022-10-17 11:37] df7cb opened #769 "Test failure with PG15: test_show test_cancel test_cancel_pool_size ... FAILED"
Building pgbouncer 1.17.0 against PG15 yields this:

[code]

Full log:
https://pgdgbuild.dus.dg-i.net/view/Binaries/job/pgbouncer-binaries/76/architecture=amd64,distribution=kinetic/console
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1021859

(I also tried building HEAD, but that fails with a different error:
[code]
... and a lot of other warnings.)

[2022-10-17 16:49] jasimul commented on #768
any suggestion/input  would be a great help

[2022-10-18 03:15] jasimul commented on #768
it showing the above mention warning for all the previously configure database, seems it some ehere caching it
`
2022-10-18 03:08:23.535 UTC [88220] WARNING C-0x5624b39e2e90: pgbouncerpoc/mr3master@10.46.89.12:60574 pooler error: pgbouncer cannot connect to server
2022-10-18 03:08:23.540 UTC [88220] LOG C-0x5624b39e2e90: (nodb)/(nouser)@10.46.80.132:40604 closing because: no such database: perfdev

[2022-10-18 22:02] goksgie commented on #760
I am not really experienced on PostgreSQL but this might be looking like a search path issue. Can you check if you can execute the following on the target database:

[code]
There is an effort to make specifying an authentication database possible which should eventually help avoiding porting functions to all databases.

[2022-10-19 05:34] jasimul commented on #768
@goksgie  sorry for the inconvinence
here is the content without commented line ,  kept it intentionally thinking i might be missing to set any properties properly
`
[databases]
pgbouncerpoc=dbname=pgbouncerpoc host=xxx.cluster-xxx.us-west-2.rds.amazonaws.com port=5432 pool_size=1000
[users]

;user1 = pool_mode=transaction max_user_connections=10

[pgbouncer]
;;;
;;; Administrative settings
;;;

l

[2022-10-20 10:19] danielgustafsson commented on #769
I see the same errors in my packaging pipeline, and I can verify that 04ff38b fixes the `test_show` failure.

[2022-10-20 10:21] PetrDlouhy opened #770 "Deployment on Heroku: add options to handle SIGTERM"
I am using PGBouncer on Heroku in Docker container along with Gunicorn/Nginx/Supervisor.

When Heroku scales down it first sends SIGTERM to all processes in the container and after 30 seconds it sends SIGKILL. I don't think, that I can change this behavior.

The problem is, that at the time of SIGTERM being send, there are still requests being processed. I am receiving following error during scale

[2022-10-20 14:23] PetrDlouhy commented on #770
Just if anyone is searching for workaround solution, I solved this by patching PGBouncer and compiling from source:
[code]

[2022-10-20 15:26] jasimul commented on #768
@goksgie  can you please check this once

[2022-10-20 23:45] afopz commented on #766
anyone available to help me?

[2022-10-22 07:58] petere commented on #769
The `test_cancel` etc. failures are fixed by https://github.com/postgres/postgres/commit/4a6de748d3429cfa081942c46411d62341867bfd.

[2022-10-22 07:58] #769 closed

[2022-10-22 09:57] rmaleki commented on #494
Hi @ahesselgrave
did you find the answer?

[2022-10-22 10:26] df7cb commented on #769
Thanks!

Could you tag a new release for the pgbouncer side?

[2022-10-22 18:04] goksgie commented on #768
@jasimul , what does `show databases;` return on your setup?

Additionally, do you have active clients that try to use the old connection setup (i.e., old database settings)?

[2022-10-22 19:56] danielgustafsson commented on #769
As the fix is in postgres, I guess the tests will be fixed when 15.1 ships.

[2022-10-22 21:10] df7cb commented on #769
One of the problems is still in pgbouncer, though.

[2022-10-23 11:00] jasimul commented on #768
@goksgie  show database ,show pools and all other adminstartation command shows proper  database configuration.
I can check the second point and keep you posted.
But what i am more interested , is there any way i can prevent those warning message in log ? its make my life difficult to see if any legitimate error is happening

[2022-10-23 17:43] Neustradamus commented on #761
Linked to:
- https://github.com/scram-sasl/info/issues/1

[2022-10-23 17:44] Neustradamus commented on #508
Linked to:
- https://github.com/scram-sasl/info/issues/1

[2022-10-24 12:52] df7cb commented on #769
I managed to get both postgresql-15 and pgbouncer updated. Thanks for the fixes!

[2022-10-25 11:00] amanbhala commented on #766
@afopz Not sure if this will work but I faced the same "unknown ca error" when trying to connect to postgres through pgbouncer in pgbouncer logs. I was using server_tls_sslmode = require and used the same CA to generate certificates for postgres. When I was mounting those generated self-signed certificate and key through server_tls_key_file and server_tls_cert_file along with server_tls_ca_file fo

[2022-10-25 16:40] afopz commented on #766
Thanks @amanbhala . I will test it out and get back.

[2022-10-25 19:17] greigwise opened #771 "auth_user not applied globally"
So, recently we had a pgbouncer instance running with the configuration given below.  Recently we had that instance get restarted and it suddenly started failing.   It was failing on many of connections due to "no such user".  What I determined is that connections to databases which fall under "*" in the config were actually working fine.

I further determined that attempted connections for databa

[2022-10-25 19:18] greigwise commented on #771
oops.  In my above message, my "*" in the [ database ] section of the configs got changed to a bullet point.  That should be an "*" in the above posting there where it is showing those bullet points.

[2022-10-26 14:17] amanbhala opened #772 "Pgbouncer cannot connect to postgres when using scram-sha-256 authentication mechansim"
Hi community,
I am trying to use scram authentication for postgres. I am trying to introduce pgbouncer as connection pooler mainly for the advantage that it offers where it allows to do passthrough authentication, so we need not store passwords in pgbouncer and using auth_query we can fetch it from the database. We have passwords stored in SCRAM-SHA-256 format in postgres. This is what I am doing

[2022-10-27 17:09] #383 closed

[2022-10-28 07:44] petere commented on #770
You should use the `SIGINT` signal for gentle shutdown.

[2022-10-28 12:28] PetrDlouhy commented on #770
@petere I just can't. It is not possible to change the shutdown process on Heroku.

[2022-10-30 16:47] aaabramov commented on #770
How about changing the root process to Dockerfile that handles SIGTERM and sends SIGINT to pgbouncer?

[2022-10-31 10:27] PetrDlouhy commented on #770
Unfortunately Heroku sends SIGTERM to ALL processes in the Docker container.

I sent them an ticket about this, but so far they are refusing to make any change. I am trying to convince them to change this behavior, but I not giving it much change of success.

[2022-11-02 12:20] mrechte opened #773 "pgbouncer crashes (core dump) with scram-sha-256 in user-list.txt"
Hello,

I set only one password in user-lists.txt for the only admin_users I have. I encoded the password in scram-sha-256.
Other users are identified by auth_query / auth_user (scram-sha-256).

I can connect OK to the pgbouncer database with the admin user, however if I use that same user trying to connect to an in-existent database, I get a pgbouncer crash.

This only happens with scram-sha-256.

[2022-11-03 17:11] afopz commented on #766
Hi @amanbhala ,
I have tested this and no luck on this..

[2022-11-04 10:03] goksgie commented on #773
If applicable and possible, can you create a backtrace which should help community members with the analysis.

[2022-11-06 19:47] petere commented on #728
Before digging into this further, it might be worth testing with a PostgreSQL version newer than 9.6.

[2022-11-06 19:52] petere commented on #740
Please provide complete commands and configuration file to allow reproducing this.

[2022-11-06 19:56] petere commented on #233
You can put the password in the database definition line.

[2022-11-06 20:01] petere commented on #765
The log output settings in pgbouncer work independently from each other. So you turn on or off syslog, logfile, and stderr (which corresponds to the systemd journal) independently from each other. So in your situation, just turn off the `syslog` setting.

[2022-11-06 20:12] petere commented on #767
As you have discovered, this is not supported in pgbouncer.

[2022-11-06 20:13] petere commented on #771
Using "pgbouncer" as the `auth_user` name is buggy. Try a different name.

[2022-11-06 20:17] petere commented on #718
It is documented that the admin console only supports the simple query protocol.

[2022-11-06 20:30] #680 closed

[2022-11-06 20:33] petere commented on #773
This looks like #730. Can you check if that fixes it?

[2022-11-06 20:55] dvarrazzo commented on #718
cc @j-bennet

[2022-11-07 07:19] landryb commented on #765
sure, i got that - but if i dont want to send logs to journald, there's no easy/straightforward way, since we cant turn off stderr..

[2022-11-07 08:04] petere commented on #765
The option `-q` turns off logging to stderr.

[2022-11-07 08:32] rechtem opened #774 "cannot do SCRAM authentication: password is SCRAM secret but client authentication did not provide SCRAM keys"
Hello,

PostgreSQL and pgbouncer are setup on a separate machines. Pgbouncer is configured to use auth_user / auth_query.

$ psql -h /run/pgbouncer -p 6432 -U bd bd
psql: erreur : la connexion au serveur sur le socket « /run/pgbouncer/.s.PGSQL.6432 » a échoué : FATAL:  query_wait_timeout

**The pgbouncer logs shows:**
[code]

**The PostgreSQL log shows**

[code]

**Configuration:**

[code]
Where p

[2022-11-07 11:03] Nikitin-Alexandr opened #775 "The pgbouncer suddenly crashes"
Hello! Recently, the cases of PGBouncer crashes have become more frequent on one of our servers. As a result the following coredump was created:

[code]
[code]
`OS: Ubuntu 20.04.3 LTS`
[code]
[code]
Please tell me what we can do to prevent crashes?

[2022-11-07 12:42] goksgie commented on #775
Can you share your pgbouncer.ini file?

Additionally, were there any spikes in the workload? After glancing over the involved code, I kind of suspect that PgBouncer is failing to perform allocations as there is no room left. Can you check if increasing "pkt_buf" helps or not?

[2022-11-07 13:52] mrechte commented on #773
OK, I replaced pgbouncer from a fresh complied from git: the issue is gone.

[2022-11-07 14:05] mrechte commented on #774
As I just compiled pgbouncer from git, I can confirm the problem is still there.
Note that:
1. I don't have the issue when pgbouncer is using a socket connection to postgres
2. PG is v15 (not tested with earlier version).

[2022-11-07 15:12] #773 closed

[2022-11-07 15:20] petere commented on #774
The problem is that your `pgb_auth` has a SCRAM-encrypted password. This only works if the client connecting to PgBouncer provides a password using SCRAM authentication. But if you're using `pgb_auth` as `auth_user`, there is no client, so there is no way to know what the actual password is, which is required to authenticate `pgb_auth` to the PostgreSQL server.

So the solution is that `pgb_auth`

[2022-11-07 15:46] petere commented on #715
Looking at the implementations of `admin_cmd_pause()` and `admin_cmd_resume()`, it's easy to see how this can happen.

To fix, we might need some locking on the "pause state", or count the pause requests, or something along those lines. Ideas welcome.

[2022-11-07 15:51] petere commented on #744
It looks like the server (PostgreSQL) is trying to send an error. Do you have the server's log available?

[2022-11-07 15:57] petere commented on #761
This is probably the same issue as this: https://github.com/pgbouncer/pgbouncer/issues/774#issuecomment-1305769441

[2022-11-07 15:57] petere commented on #762
What is the this GUI installer? We don't ship that. Maybe you could ask the packager.

[2022-11-08 03:24] Nikitin-Alexandr commented on #775
Additionally, were there any spikes in the workload? - YES

[code]

I will double the value pkt_buf and will observe.

[2022-11-08 04:28] srivathsanvlb commented on #762
@petere I used this document to install pgbouncer

https://www.enterprisedb.com/docs/pgbouncer/latest/01_installation/04_installing_pgbouncer_on_a_windows_host/

Can you please provide me a link that would explain how to install pgbouncer in Windows based Azure VM?

https://www.pgbouncer.org/install.html#building-on-windows -> Is this the one. It was not very clear hence I didn't do it.

[2022-11-08 09:43] mrechte commented on #774
OK I see, this is inherent to SCRAM: one requires the original password (or a ClientProof) to authenticate.
Thanks.

[2022-11-10 11:08] zurikus opened #776 "Queries SET DateStyle='ISO'; appeared in every transaction after migration to pg 14"
Hi, I'm not sure if I'm opening discussion in correct place, but I will really appreciate any help, advice or guidance.

We are using pgbouncer in transaction pooling mode in our setup and it's looking like following : app ---> pgbouncer ---> Postgres.
Postgres and pgbouncer are running on same server on Rocky OS.

Applications are using PostgreSQL JDBC Driver 42.2.24 or 42.3.3 mainly.
Pgbouncer p

[2022-11-11 09:59] jayant07-yb opened #777 "Support for protocol level prepared statements"
A prepared statement is a server-side object that can be used to optimise performance. When the PREPARE statement is executed, the specified statement is parsed, analysed, and rewritten. When an EXECUTE command is subsequently issued, the prepared statement is planned and executed.

Prepare statements can be used in two ways:-
1. statement (used in `simple Query protocol`)
2. Protocol-level prepar

[2022-11-11 11:38] sleepy-manul opened #778 "pgbouncer forwards different SQLState code than PostgreSQL if database does not exist"
We have a development environment where lots of PostgreSQL databases are created and dropped all day long, e.g.

[code]

etc. To accommodate this, I set up pgBouncer like this:

[code]

The problem is that the PostgreSQL server (direct connection, without pgBouncer) returns this if the database does not exist yet:
```[3D000] FATAL: database "postgres2" does not exist.```

However, when going throu

[2022-11-11 13:53] PandyanM opened #779 "tls_sbufio_recv: read failed: Connection reset by peer"
Hi All,

I am facing an connection disconnect issue while using the pgbouncer.

Actually, I am trying to connect the red shift database from power bi and using the pgboucer to connect the database.

I am facing tls_sbufio_recv: read failed: Connection reset by peer error randomly and its killing the client sessions as well.

Is there any way to fix this issue or limitations .?

Thanks & Regards,
P

[2022-11-13 01:15] tyteen4a03 commented on #314
Hi, any updates to this?

[2022-11-14 12:58] eulerto commented on #779
You should check your network configuration. Firewall?

[2022-11-14 14:18] eulerto commented on #768
WARNING is not ERROR. From the database perspective, if a database does not exist, it is an error but for PgBouncer is just a warning. The reason is that client connects to PgBouncer so no error is reported. However, PgBouncer couldn't connect to database, hence, it reports a warning and expects that the admin fixes it soon.

[2022-11-14 14:39] goksgie commented on #768
@eulerto , do you think it would make sense to disconnect clients that are not connected yet to the target database when an error response is returned from the target? This looks like a one-line change [here](https://github.com/pgbouncer/pgbouncer/blob/a25c87c138f3f38508e67ed6183b7db155635645/src/server.c#L72).

[2022-11-15 04:52] jasimul commented on #768
@eulerto , i am not sure why its trying to connect a database  which have no active mention in  pgbouncer.ini.
for my test purpose i was switching database , the warning message started flowing  for previously configured whenever i switch to other DB

[2022-11-16 12:57] eulerto commented on #778
PgBouncer returns [08P01](https://www.postgresql.org/docs/current/errcodes-appendix.html) that means _protocol violation_ (a connection exception). Postgres returns [3D000](https://www.postgresql.org/docs/current/errcodes-appendix.html) means _invalid catalog name_. PgBouncer uses a generic SQL state that covers all errors IMO. I don't think it is a bug but I agree that PgBouncer should mimic Post

[2022-11-16 14:40] roji commented on #778
@eulerto can you elaborate? How is it not a bug for PgBouncer to return an incorrect SQL state which doesn't correspond to what PG returns for that same error?

[2022-11-16 18:47] eulerto commented on #778
It has been like that for a long time and nobody complained about it. PgBouncer does not provide SQLSTATE reported by Postgres. It has been like that since day 1. That's why I said it is a new feature.
Regarding the feature, it is easy to expose the SQLSTATE, however, the function that reports an error for client will need to provide an SQLSTATE. This function (_disconnect_client_) has ~ 70 calls

[2022-11-16 18:53] sleepy-manul commented on #778
Hi @roji and @eulerto - just a quick reminder, it was not my intention to pin your two projects against each other. Both of you make great, high-quality software. I just linked the two issues to prevent a situation where the problem is fixed in 0/2 or 2/2 components.

[2022-11-16 19:55] roji commented on #778
Thanks for the clarification @eulerto.

[2022-11-22 13:11] qdupuy opened #787 "connection problem on an AWS RDS with pgbouncer"
Hello,

I am trying to set up a pgbouncer to attack the RDS via my Kubernetes cluster, however this is encountering the following issues:

[code]

Here is my pgbouncer configuration :

[code]

If I open a postgres-client, I've no problem.

The goal is to have a flow opening from outside without needing a gateway on the RDS.

[2022-11-22 20:43] scorpevans commented on #740
Hi @petere

This was a sloppy report; please excuse me.
I believe a rogue user is actually being reject; I've tried `log_disconnections` and `verbose=2` to get some pointers but it's not too obvious from the structure of the log, which user to blame. In any case, there no issue here.

[2022-11-22 20:43] #740 closed